* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f3efe9;
  color: #1f1f1f;
}

/* MENÚ GENERAL */
header {
  padding: 20px 40px;
  background: white;
}

nav a {
  text-decoration: none;
  color: #1f1f1f;
  margin-right: 25px;
  font-weight: 500;
}

nav a:hover {
  color: #6b7c6f;
}

/* SECCIONES */
main {
  padding: 80px 40px;
}

/* TÍTULOS */
h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 2rem;
  margin: 30px 0 20px;
}

/* PROYECTOS */
.project-card {
  margin-bottom: 60px;
}

.project-card img {
  width: 100%;
  margin-top: 15px;
  height: 280px;
  object-fit: cover;
}

/* GALERÍA DE PROYECTOS */
.gallery img {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}
