* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f3efe9;
  color: #1f1f1f;
}

/* MENU */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f3efe9;
  padding: 20px 40px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 400;
}

nav a:hover {
  color: #6b7c6f;
}

/* SECCIONES */
section {
  scroll-margin-top: 120px;
}

/* INICIO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 400;
}

.hero p {
  margin-top: 10px;
  color: #7a7a7a;
}

/* PROYECTOS */
.projects {
  padding: 120px 40px;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 60px;
}

.project {
  margin-bottom: 50px;
}

.project h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.project p {
  margin-top: 8px;
  color: #7a7a7a;
  max-width: 500px;
}
